@import "tailwindcss";

header {
  position: fixed; /* или position: absolute; если контейнер с position: relative */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50; /* больше, чем у карусели */
  background-color: rgba(255, 255, 255, 0.8); /* полупрозрачный фон */
  backdrop-filter: blur(8px); /* размытие фона под меню */
}